<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Git & GitLab - Workshop</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/night.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>

	<div id="Logo" style="background: url(images/lrz_wortbild_e_invers_blau_weiss.png);
		position: absolute;
		top: 20px;
		left: 20px;
		width: 361px;
		height: 59px;
		z-index: 1">
	</div>
	<div id="Title" style="position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
		color: white;">
		<h3>Git & Gitlab - Workshop</h3>
	</div>

		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Git & Gitlab</h1>
					<h3>Workshop</h3>
					<p>
						<small><a href="mailto:freund@lrz.de">Rosa Freund</a> und <a href="mailto:steinborn@lrz.de">Daniel Steinborn</a></small>
					</p>
				</section>

				<section>
					<h2>
						<a href="https://try.github.io/">try.github.io/
</a>
					</h2>
				</section>

				<section>
					<h2>
					<a href="https://github.com/git-game/git-game">github.com/git-game/git-game</a>
					</h2>
				</section>

				<section>
					<section>
						<h1>Git vs. SVN</h1>

						<h3>Die 5 wichtigsten Unterschiede</h3>
					</section>

					<section>
						<h2>Git ist dezentral</h2>
						<h3>SVN ist zentral</h3>
					</section>

					<section>
						<h2>Git speichert Content als Metadaten</h2>
						<h3>SVN speichert nur Dateien</h3>
					</section>

					<section>
						<h2>Git-Branches ...</h2>
						<h3>... unterscheiden sich von SVN-Branches</h3>
					</section>

					<section>
						<h2>Git hat keine Revisionsnummer</h2>
					</section>

					<section>
						<h2>Git bietet sehr gute Datenintegrität</h2>
					</section>

					<section>
						<a href="http://boxysystems.com/index.php/5-fundamental-differences-between-git-svn/">(Quelle)</a>
					</section>

				</section>

				<section>
					<h1>GitLab</h1>

					<a href="https://gitlab.lrz.de/groups/Git-Gitlab-Workshop">gitlab.lrz.de/groups/Git-Gitlab-Workshop</a>
				</section>

				<section>
					<section><h1>Anhang</h1></section>

					<section>
						<h1>Rebase</h1>

						<a href="https://git-scm.com/book/en/v2/Git-Branching-Rebasing">git-scm.com</a>
					</section>

					<section>
						<h3>A successful git branching model</h3>

						<a href="http://nvie.com/posts/a-successful-git-branching-model/">nvie.com</a>
					</section>

					<section>
						<h3>Weitere Quellen + Tutorials</h3>

						<ul>
						<li>https://www.git-tower.com/learn/</li>
						<li>https://www.git-tower.com/learn/cheat-sheets/git</li>
						<li>https://www.git-tower.com/learn/cheat-sheets/vcs-workflow</li>
						<li>https://www.atlassian.com/git/tutorials/</li>
						<li>https://www.udacity.com/course/how-to-use-git-and-github--ud775</li>
						<li>http://de.gitready.com/</li>
						<li>http://firstaidgit.io/</li>
						<li>http://www.vogella.com/tutorials/Git/article.html</li>
						<li>http://www-cs-students.stanford.edu/~blynn/gitmagic/intl/de/index.html</li>
						<li>https://about.gitlab.com/2016/10/25/gitlab-workflow-an-overview/</li>
						<li>https://web-engineering.github.io/git_basics.html</li>
						</ul>
					</section>

				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,
				controls: true,
				progress: true,
				parallaxBackgroundImage: 'images/bg.jpg',
				parallaxBackgroundSize: '1920px 1080px',

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
